In [7]:
from collections import Counter
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [8]:
train_data = pd.read_csv("train_titanic.csv")
train_array = np.array(train_data)
print(train_data)

      Sex  sibsp  Parch  Pclass  Survived
0       0      1      0       3         0
1       1      1      0       1         1
2       1      0      0       3         1
3       1      1      0       1         1
4       0      0      0       3         0
...   ...    ...    ...     ...       ...
1004    0      0      0       3         0
1005    1      0      0       1         0
1006    0      0      0       3         0
1007    0      0      0       3         0
1008    0      1      1       3         0

[1009 rows x 5 columns]

In [10]:
name = train_data.columns[3]
name

'Pclass'

In [56]:
D_v = D[D[name]==2]
D_v

     Sex  sibsp  Parch  Pclass  Survived
9      1      1      0       2         1
15     1      0      0       2         1
17     0      0      0       2         1
20     0      0      0       2         0
21     0      0      0       2         1
..   ...    ...    ...     ...       ...
978    0      0      0       2         0
984    0      0      0       2         0
992    0      1      0       2         0
996    0      0      0       2         0
997    0      1      0       2         0

[216 rows x 5 columns]

In [15]:
len(D_v)==0

False

In [16]:
m = train_data.mode()
m

   Sex  sibsp  Parch  Pclass  Survived
0    0      0      0       3         0

In [17]:
m.iloc[0]["Survived"]

0

In [44]:
d = train_data.iloc[0:5,[0,1,2]]
d

   Sex  sibsp  Parch
0    0      1      0
1    1      1      0
2    1      0      0
3    1      1      0
4    0      0      0

In [53]:
l1 = []
for i in range(3):
    l1.append(np.unique(d.iloc[:,i]))
print(l1)

[array([0, 1]), array([0, 1]), array([0])]